<div class="container">
  <h1>Create action</h1>
  <br/>
  <div class="response__json">
    <h5>Request body:</h5>
    <pre>{{"{"}}
  "name": "SurrealDB-{{"{"}}randomNumber{{"}"}}",
  "email": "test{{"{"}}randomNumber{{"}"}}$@example.pl"
{{"}"}}
    </pre>
  </div>
  <div class="response__container">
    <div class="response">
      <h3>SurrealDB</h3>
      <button (click)="createOnSurreal()">FireAway</button>
      <app-terminal-item [text]="surrealObj$ | async"></app-terminal-item>
    </div>
  </div>
</div>