<div class="container">
  <h1>Create action</h1>
  <br/>
  <div class="response__json">
    <h5>Request body:</h5>
    <pre>{{"{"}}
  "id": 1,
  "title": "iPhone 9",
  "description": "An apple mobile which is nothing like apple",
  "price": 549,
  "discountPercentage": 12.96,
  "rating": 4.69,
  "stock": 94,
  "brand": "Apple",
  "category": "smartphones"
{{"}"}}
    </pre>
  </div>
  <div class="response__container">
    <div class="response">
      <h3>SurrealDB</h3>
      <button>test</button>
      <app-terminal-item></app-terminal-item>
    </div>
    <div class="response">
      <h3>SQL</h3>
      <button>test</button>
      <app-terminal-item></app-terminal-item>
    </div>
  </div>
</div>