.navigation, .outlet {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.navigation {
  &__item {
    a {
      padding: 8px 0;
      text-decoration: none;
      box-sizing: border-box;
      margin-right: 16px;

      &:hover {
        border-bottom: 3px solid rgb(255, 0, 158);
      }
    }

    &:last-child {
      a {
        margin-right: 0;
      }
    }
  }
}

.active {
  border-bottom: 3px solid rgb(255, 0, 158);
}

.outlet {
  margin-top: 48px;
}